@charset "UTF-8";

a {
	text-decoration-line: none;
	color: black;
	font-weight:bold;
}

.user_container input{
    width: 90%;
    padding-right: 30px;
	background-color:white;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    outline: none;
    font-weight:bold;
    font-size:18px;
}

.user_container {
	width: 330px; 
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    outline: none;
    background-color: white;
    font-weight:bold;
    font-size:18px;
    margin-bottom:10px;
}


.user_container i {
    font-size:16px;
}

.login_modal_btn {
	width: 340px;
	height: 50px;
	color:white;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 5px;
	cursor:pointer;
	font-size: 18px;
	background-color: #333333;
}

.login_modal_btn:hover{
	background-color: #007bff;
}

.main_container{
	display: flex; 
	justify-content: center; 
	align-items: center; 
	flex-direction: column; 
	height: 100vh; 
	text-align: center;
	position: relative;
}

.log_Info {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 화면 중앙 기준 */
    left: 50%; /* 화면 중앙 기준 */
    transform: translate(-50%, -50%); /* 정확히 중앙으로 이동 */
}