@charset "UTF-8";
th{text-align:right;}

button{
	width: 300px;
	height: 40px;
	color:white;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 5px;
	cursor:pointer;
	font-size: 18px;
	background-color: #333333;
}

a{
	text-decoration-line: none;
	color: black;
	font-weight:bold;
}

input[type="text"],input[type="password"] {
	outline:none;
	height: 30px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	width: 200px;
}
.sBtn{
	width: 150px;
	height: 30px;
	/* background-color: royalblue; */
	background-color: #333333;
	color:white;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 5px;
	cursor:pointer;
	font-size: 16px;
}

select{
	height:30px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	outline: none;
}

table{
 	border-collapse: collapse;
}
.trHover:hover{
 	background-color: #EEEEEE;
}